.nav_container {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-direction: row;
  background-color: #5474FD;
  height: 83px;
  align-items: center;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navitem {
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}

.navtitle {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
  font-weight: bold;
}

.navitem:hover {
  background-color: #7c8ee6;
  border-radius: 6px;
}

.why_image {
  height: 100vh;
  background-image: url("/images/Rectangle 41444.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.whytitle {
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 26px;
  max-width: 288px;
  width: 100%;
  height: 80px;
  color: #FFFFFF;
}

.whytext, .whytext2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.6px;
  max-width: 560px;
  width: 100%;
  height: 158px;
  color: #E8E8E8;
}

.why_btn {
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.2px;
  width: 228px;
  height: 63px;
  color: #FFFFFF;
  background-color: #5474FD;
  border: none;
  border-radius: 3px;
  opacity: 90%;
}

.why_btn:hover {
  background-color: #91a2f0;
}

.why_container {
  max-width: 1450px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.image_section {
  max-width: 500px;
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.how_section {
  height: 100vh;
  background-image: url("/images/Rectangle 9.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 340px;
}

.how_container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}

.how_text {
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 26px;
  max-width: 245px;
  width: 100%;
  height: 26px;
  color: #E8E8E8;
}

.fa-magnifying-glass {
  width: 60px;
  height: 59px;
  color: #5475FD;
}

.fa-circle-check {
  width: 62px;
  height: 63px;
  color: #FF6363;
}

.fa-thumbs-up {
  width: 64px;
  height: 61px;
  color: #00A2FF;
}

.tourist {
  height: 100vh;
  background-image: url("/images/Rectangle41421.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 731px;
}

.title_tourist {
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 26px;
  color: #FFFFFF;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tourist_card_container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tourist_card {
  max-width: 1113px;
  width: 100%;
  max-height: 287px;
  background-color: #333333;
  display: flex;
  align-items: center;
}

.name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  width: 150px;
  height: 26px;
  color: #FEFEFE;
}

.touristsay {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  line-height: 26px;
  max-width: 581px;
  width: 100%;
  height: 165px;
  color: #FEFEFE;
}

.fa-single-quote-left {
  color: #5474FD;
}

.tourist_image {
  max-width: 445px;
  width: 100%;
  height: 284px;
}

.Head {
  height: 100vh;
  background-image: url("/images/image 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 4.8px;
  max-width: 342px;
  width: 100%;
  height: 26px;
  color: #FFFFFF;
}

.header_text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 6.82px;
  max-width: 345px;
  width: 100%;
  height: 26px;
  color: #FFFFFF;
  margin-top: 10px;
  text-align: center;
}

input {
  margin-top: 50px;
  width: 653px;
  height: 63px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}

.search_btn {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  background-color: #5474FD;
  width: 153px;
  height: 63px;
  border: none;
  border-radius: 3px;
}

.scrolldown {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  line-height: 2.8px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 40px;
}

.fa-angle-down {
  margin-top: 20px;
}

.footer_contact {
  height: 100vh;
  background-image: url("/images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 271px;
}

.container_footer {
  display: flex;
  justify-content: center;
}

.footer_logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 3.36px;
  color: #FFFFFF;
}

.footer_text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #FFFFFF;
}

.contact_icons i:hover {
  color: #6171b8;
}

.fa-facebook-f {
  color: #FFFFFF;
}

.fa-twitter {
  color: #FFFFFF;
}

.fa-linkedin-in {
  color: #5474FD;
}

.fa-youtube {
  color: #FFFFFF;
}

.fa-dribbble {
  color: #FFFFFF;
}

.booknow {
  height: 100vh;
  background-image: url("/images/Rectangle41446.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 775px;
}

.card_container {
  max-width: 900px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card {
  max-width: 543px;
  width: 100%;
  height: 374px;
  background-color: #232323;
  opacity: 90%;
  display: flex;
  flex-direction: column;
}

.cardcountry {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.5px;
  width: 80px;
  height: 26px;
  color: #E8E8E8;
  margin-top: 20px;
  margin-left: 20px;
}

.cardtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  width: 241px;
  height: 26px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-left: 20px;
}

.cardtext {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  max-width: 508px;
  width: 100%;
  height: 78px;
  color: #E8E8E8;
  margin-top: 20px;
  margin-left: 20px;
}

.cardbtn {
  max-width: 228px;
  width: 100%;
  height: 63px;
  background-color: #5474FD;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

.booknow2 {
  height: 100vh;
  background-image: url("/images/Rectangle41445.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 775px;
}

.card_container2 {
  max-width: 1530px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card2 {
  max-width: 543px;
  width: 100%;
  height: 374px;
  background-color: #232323;
  opacity: 90%;
  display: flex;
  flex-direction: column;
}

.cardcountry2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.5px;
  width: 80px;
  height: 26px;
  color: #E8E8E8;
  margin-top: 20px;
  margin-left: 20px;
}

.cardtitle2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  width: 241px;
  height: 26px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-left: 20px;
}

.cardtext2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  max-width: 508px;
  width: 100%;
  height: 78px;
  color: #E8E8E8;
  margin-top: 20px;
  margin-left: 20px;
}

.cardbtn2 {
  max-width: 228px;
  width: 100%;
  height: 63px;
  background-color: #5474FD;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

.cardbtn2:hover {
  background-color: #7c98f3;
}

.cardbtn:hover {
  background-color: #7c98f3;
}

@media screen and (max-width: 1000px) {
  .tourist_image {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .tourist_image {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .tourist_image {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .tourist_image {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .tourist_image {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .touristsay {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .touristsay {
    font-size: 8px;
  }
}
@media screen and (max-width: 300px) {
  .touristsay {
    font-size: 6px;
  }
}
.Head {
  height: 100vh;
  background-image: url("/images/image 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 4.8px;
  max-width: 342px;
  width: 100%;
  height: 26px;
  color: #FFFFFF;
}

.header_text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 6.82px;
  max-width: 345px;
  width: 100%;
  height: 26px;
  color: #FFFFFF;
  margin-top: 10px;
  text-align: center;
}

input {
  margin-top: 50px;
  width: 653px;
  height: 63px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #999999;
}

.search_btn {
  font-family: "Aleo", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  background-color: #5474FD;
  width: 153px;
  height: 63px;
  border: none;
  border-radius: 3px;
}

.search_btn:hover {
  background-color: #6781f7;
}

.scrolldown {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  line-height: 2.8px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 40px;
}

.fa-angle-down {
  margin-top: 20px;
}/*# sourceMappingURL=index.css.map */